{% assign link_class = "pvxs display-block phl" %}
{% assign section_class = "type-bold" %}
{% assign selected_class = "type-white bg-blue mrneg1" %}
{% assign number_class = "type-regular type-faded" %}

<a href="/"
  class="
    {{ link_class }}
    {% if page.path == 'index.md' %}{{ selected_class }}{% endif %}"
>Home</a>

<h5 class="phl">Contents</h5>

<!--
Path: {{ page.path }}
Name: {{ page.name }}
Title: {{ page.title }}
Collection: {{ page.collection }}
{{ :path }}
Path components: {% for pathname in page_path %}{{ pathname | remove_first: ".md" }} · {% endfor %}
{% for collection in site.collections %}
  {% for item in collection.sections %}
    {{ item.number }}. {{ item.title }}
  {% endfor %}
{% endfor %}
-->

<div>
  <a href="{% link developers/index.md %}"
     class="
      {{ link_class }}
      {% if page.path == 'developers/index.md' %}{{ selected_class }}{% endif %}"
  ><span class="{{ number_class }}">I. </span>Developer’s guide</a>
  <a href="{% link _developer_reference/00_index.md %}"
     class="
      {{ link_class }} plxxl
      {% if page.collection == 'developer_reference' %}{{ section_class }}{% endif %}
      {% if page.path == '_developer_reference/00_index.md' %}{{ selected_class }}{% endif %}"
  ><span class="{{ number_class }}">A. </span>Reference</a>
  {% if page.collection == 'developer_reference' %}
    {% include collection.html collection=site.developer_reference %}
  {% endif %}
  <a href="{% link _developer_cookbook/00_index.md %}"
     class="
      {{ link_class }} plxxl
      {% if page.collection == 'developer_cookbook' %}{{ section_class }}{% endif %}
      {% if page.path == '_developer_cookbook/00_index.md' %}{{ selected_class }}{% endif %}"
      "
  ><span class="{{ number_class }}">B. </span>Cookbook</a>
  {% if page.collection == 'developer_cookbook' %}
    {% include collection.html collection=site.developer_cookbook %}
  {% endif %}
</div>
