{% assign link_class = "pvxs display-block phxl" %}
{% assign selected_class = "type-white bg-blue mrneg1" %}

<a href="/"
  class="
    {{ link_class }}
    {% if page.path == 'index.md' %}{{ selected_class }}{% endif %}"
>Home</a>

<h5 class="phxl">Contents</h5>

<!--
Path: {{ page.path }}
Name: {{ page.name }}
Title: {{ page.title }}
Collection: {{ page.collection }}
{{ :path }}
{% assign paths = (page.url | split: "/") | compact %}
Path components: {% for pathname in paths %}{{ pathname | remove_first: ".md" }} · {% endfor %}

-->

<div>
  <a href="{% link developers/index.md %}"
     class="
      {{ link_class }}
      {% if page.path == 'developers/index.md' %}{{ selected_class }}{% endif %}"
  >I. Developer’s guide</a>
  <a href="{% link _developer_reference/00_index.md %}"
     class="
      {{ link_class }} plxxxl
      {% if page.collection == 'developer_reference' %}{{ selected_class }}{% endif %}"
  >A. Reference</a>
  <!--
    {% for item in site.developer_reference %}
      {{ item.title }}: {{ item.url }}
    {% endfor %}
  -->
  <a href="{% link _developer_cookbook/00_index.md %}"
     class="
      {{ link_class }} plxxxl
      {% if page.collection == 'developer_cookbook' %}{{ selected_class }}{% endif %}"
  >B. Cookbook</a>
</div>
